LOG_API_URL=http://<your-api-domain>/evaluation-service/logs
LOG_AUTH_URL=http://<your-api-domain>/evaluation-service/auth
LOG_EMAIL=your_email@domain.com
LOG_NAME=your_name
LOG_ROLL_NO=your_roll_number
LOG_ACCESS_CODE=your_access_code
LOG_CLIENT_ID=your_client_id
LOG_CLIENT_SECRET=your_client_secret
